@font-face {
    font-family: 'Minecraft-Regular';
    src: url('/assets/font/minecraft/Minecraft-Regular.ttf.woff') format('woff'),
    url('/assets/font/minecraft/Minecraft-Regular.ttf.svg#Minecraft-Regular') format('svg'),
    url('/assets/font/minecraft/Minecraft-Regular.ttf.eot'),
    url('/assets/font/minecraft/Minecraft-Regular.ttf.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url("/assets/img/ico/crosshair-icon.png") 9 9, crosshair;
    font-family: "Minecraft-Regular", "DejaVu Sans", sans-serif;
    caret-shape: block;
    caret: orange;
}

h1, h2, h3, h4, h5, h6, span, p {
    cursor: url("/assets/img/ico/text-cursor-2.png") 9 12, text;
}

:root {
    color-scheme: dark light;
}

body {
    overflow: hidden;

}

.noselect {
    user-select: none; /* Non-prefixed version, currently */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.wrapper {
    min-height: 100vh;
    width: 100vw;
    background: orange;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    z-index: 10000;
    align-self: center;
    text-align: center;
    font-size: 400%;
}

.canvas {
    position: relative;
    aspect-ratio: 11 / 7;
    height: min(calc(85vw * 7 / 11), 85vh);
    /*margin-inline: auto;*/
    /*margin-block: auto;*/
    max-height: 100vh;
    max-width: 100vw;

    & > * {

        height: 100%;
        width: 100%;
        position: absolute;
        z-index: 50;

        &#top {
            z-index: 100;

            filter: drop-shadow(0 0 20px black);
        }

        & > * {
            overflow: hidden;
            aspect-ratio: 1;
            image-rendering: pixelated;
            position: absolute;
            scale: 1.01;
            transform-origin: center;
        }
    }

}

.bg-tiles {
    position: absolute;
    top: 0;
    left: 0;
    image-rendering: pixelated;
    height: 100vh;
    width: 100vw;
}

.piston {
    /*offset-anchor: 100% 100%;*/
    position: absolute;

    isolation: isolate;


    aspect-ratio: 1 / 2;


    & > * {
        width: 100%;
        position: absolute;
        z-index: 10;
        top: 50%;
    }

    &[extended=true] .piston-extender {
        top: 0;
    }

    & .piston-base {
        position: absolute;
        top: unset;
        bottom: 0;
        z-index: 20;
    }
}

.game-field {
    z-index: 1000;


    .hover-block {
        opacity: 0;

        transition: opacity .1s;
    }

    .hover-block:hover {
        opacity: 0.6;
    }

    .hover-block-disabled {
        cursor: url("/assets/img/ico/crosshair-icon_not-allowed.png") 9 9, crosshair;
    }

}


.ui-button {
    position: relative;

    z-index: 10000;
    background: url("/assets/img/gui/button.png") center / contain no-repeat;
    aspect-ratio: 10 / 1;
    image-rendering: pixelated;

    display: grid;
    place-items: center;
    width: 500px;

    isolation: isolate;

    cursor: url("/assets/img/ico/cursor.png") 0 0, default;

    & * {
        cursor: url("/assets/img/ico/cursor.png") 0 0, default;
    }

    & > span {

        pointer-events: none;

        z-index: 100;
        cursor: url("/assets/img/ico/cursor.png") 0 0, default;
        font-size: 1.4rem;

        text-shadow: 2px 2px 0 black;


        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }


    &:hover {
        background: url("/assets/img/gui/button-active.png") center / contain no-repeat;
    }

    &.menu-slider {


        background: url("/assets/img/gui/button-slider.png") center / contain no-repeat;


        &:hover .menu-slider-slider::-moz-range-thumb {
            z-index: -1;
            background: url("/assets/img/gui/button-slider-slider-active.png") center / contain no-repeat;
        }

        .menu-slider-slider {
            -webkit-appearance: none;
            width: 100%;
            height: 100%;
            z-index: -1;
            position: absolute;
            left: 0;

            background: url("/assets/img/gui/button-slider.png") center / contain no-repeat;

            &:focus {
                outline: none;


                &::-moz-range-thumb,
                &::-webkit-slider-thumb {
                    background: url("/assets/img/gui/button-slider-slider-active.png") center / contain no-repeat;
                }
            }


            &::-moz-range-thumb,
            &::-webkit-slider-thumb {

                -webkit-appearance: none;
                appearance: none;

                background: red;
                height: 100%;
                aspect-ratio: 8 / 20;
                width: unset;
                border: none;
                border-radius: unset;
                background: url("/assets/img/gui/button-slider-slider.png") center / contain no-repeat;
            }
        }
    }
}

.menu-input {

    z-index: 10000;
    aspect-ratio: 10 / 1;
    outline: none;
    border: none;
    background: url("/assets/img/gui/button-slider.png") center / contain no-repeat;

    cursor: url("/assets/img/ico/text-cursor.png") 9 12, text;
    caret-shape: underscore;

    isolation: isolate;

    position: relative;

    & * {
        cursor: url("/assets/img/ico/text-cursor.png") 9 12, text;

        caret-shape: underscore;
    }

    .menu-input-autocomplete {
        width: 100%;
        /*background: red;*/
        pointer-events: none;
        opacity: .6;
        font-size: 1.2rem;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        padding-inline: 1rem;

    }

    .menu-input-field {

        width: 500px;
        background: transparent;


        padding-inline: 1rem;
        font-size: 1.2rem;
        height: 100%;
        border: none;
        outline: none;


        &:focus {
            outline: none;
            border: none;
        }

    }
}


.ui-wrapper {

    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    /*background: purple;*/
    image-rendering: pixelated;
    cursor: url("/assets/img/ico/cursor.png") 0 0, default;

    & * {
        cursor: url("/assets/img/ico/cursor.png") 0 0, default;
    }

    .ui-page {
        height: 100%;

        display: grid;
        place-items: center;
        position: absolute;
        left: 50%;
        top: 50%;

        transform: translate(-50%, -50%);

        .menu-title {
            position: absolute;
            left: 50%;
            top: 10%;
            transform: translateX(-50%);
            font-size: 200%;
        }

        .ui-inner-wrapper {
            /*background: green;*/
            display: flex;
            flex-direction: column;
            place-items: center;
            gap: 1rem;

            transform: translateY(2vh);

            &.wrapper-main-menu {
                /*background: pink;*/
            }
        }
    }
}


.ui-textures-element {
    height: 9rem;

    display: grid;
    grid-template-rows: 1.2rem 1fr 1fr;
    grid-template-columns: 1fr 9rem;
    place-items: center;


    & > *:nth-child(1) {
        justify-self: left;
        grid-area: 0 / 0 / 1 / 1;
        margin-left: .2rem;
    }

    & > *:nth-child(2) {
        grid-area: 2 / 1 / 3 / 2;
    }

    & > *:nth-child(3) {
        grid-area: 3 / 1 / 4 / 2;
    }

    & > img {
        height: 80%;
        grid-area: 1 / 2 / 4 / 3;
        image-rendering: pixelated;

        display: block;
        margin: auto;
        outline: 3px solid black;
    }
}